
@import url("./../app/components/header/header.css");

:root {
    --c-active: #0d6efd;
    --c-light: #cfe2ff;
    --c-dark: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--c-dark);
}

.container {
    position: relative;
}

.card {
    border: 3px solid var(--c-dark);
}
.card:hover {
    border-color: var(--c-active);
    box-shadow: 1px 1px 5px var(--c-light);
}

.card:hover .card-body {
    background-color: var(--c-light);
}

.cardIcons {
    visibility: hidden;
}
.cardIcons i {
    font-size: 1.4em;
}
.card:hover .cardIcons {
    visibility: visible;
}

.cardIcons i:hover {
    scale: 1.5;
    cursor: pointer;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card:hover .card-text {
    overflow: visible;
    white-space: break-spaces;
}

.messageDate {
    font-size: 10px;
}